main {
    height: 100vh;
}

body {
    font-family: 'Nerko One', cursive;
    margin: 0;
    padding: 0;
    background: url("BACKGROUND.jpg");
}

.main_box {
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: url("BACKGROUND.jpg");
    width: 300px;
    height: 100vh;
}


.main-content {
    padding: 20px;
    background: url("BACKGROUND.jpg");
    height: 100vh;
    transition: transform 0.5s ease-in-out;
}

.cards-contener {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 20px;
    width: 250px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card-titel {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-info {
    font-size: 14px;
    color: #666;
}

#check:checked ~ .sidebar_menu {
    transform: translateX(0);
}

#check:checked ~ .main-content {
    transform: translateX(300px);
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}